@media (max-width: 20000px) {
  .embla__slide {
    flex: 0 0 12.5%; /*Adjust to display multiple items at once*/
  }
}

@media (max-width: 1200px) {
  .embla__slide {
    flex: 0 0 16.6%; /*Adjust to display multiple items at once*/
  }
}

@media (max-width: 800px) {
  .embla__slide {
    flex: 0 0 25%; /*Adjust to display multiple items at once*/
  }
}

@media (max-width: 450px) {
  .embla__slide {
    flex: 0 0 50%; /*Adjust to display multiple items at once*/
  }
}
